.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: menu;
  /* margin-top: 50px; */
}

.menu-btn {
  background-color: #FF964C;
  height: 40px;
  width: 90%;
  margin: 5px;
  border-radius: 5px;
}