* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: #012f4b;
  background-size: cover;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'title search-form'
    'menu main';
  height: auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.page-title {
  color: rgb(215, 241, 255);
  font-size: 55px;
  grid-area: title;
}

.new {
  color: #FF964C;
}